/* color palette

.first-color { 
	background: #f4eeff; 
}
	
.second-color { 
	background: #dcd6f7; 
}

.third-color { 
	background: #a6b1e1; 
}

.fourth-color { 
	background: #424874; 
}

*/

/* body */

body {
    background: #f4eeff;
}

/* navbar-scoreboard css */

.playa {
    background: #a6b1e1;
    height: 150px;
}
.playa-text {
    overflow: hidden;
    font-family: "Shadows Into Light", cursive;
    font-weight:600;
    font-size:25px;
}
.rps-title {
    background: #424874;
    height: 150px;
    font-family: "Archivo Black", sans-serif;
}
.rps-title-text {
    word-wrap: break-word;
    transition:0.5s;
}
.rps-title-text:hover {
    transform:scale(1.1);
    transition:0.5s;
}
.compu {
    background: #a6b1e1;
    height: 150px;
}
.compu-text {
    font-family: "Shadows Into Light", cursive;
    font-weight:600;
    font-size:25px;
}

.choice-question {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

/* button css */

button {
    width: 10em;
    height: 10em;
    border: none;
    background: #a6b1e1;
    box-shadow: 5px 5px #dcd6f7;
    transition:0.25s;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
button:hover {
    box-shadow: 10px 10px #dcd6f7;
    transition:0.25s;
}
button:active {
    box-shadow:none;
    transition:0.25s;
}

/* imgs */

.rock-pic {
    width:8em;
    rotate: -45deg;
}
.paper-pic {
    width:8em;
    rotate: -45deg;
}
.scissors-pic {
    width:8em;
    rotate: -45deg;
}
.question-pic {
    width:9em;

}

/* hr */

hr {
    opacity:1;
}

.round {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

/* choice boxes */

.player-choice {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.vs {
    position: relative;
    top:4em;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.computer-choice {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.result {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.final-result {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.p-choice {
    padding:10px;
    width: 11em;
    height: 11em;
    border: none;
    background: #a6b1e1;
}
.c-choice {
    padding:10px;
    width: 11em;
    height: 11em;
    border: none;
    background: #a6b1e1;
    margin-bottom:20px;
}
footer {
    background: #424874;
    height:140px;
}
.footer-text {
    font-size:15px;
    color:white;
    font-family: "Archivo Black", sans-serif;
}

.rotate {
    rotate: -45deg;
}